; Supervisor config file.
;
; For more information on the config file, please see:
; http://supervisord.org/configuration.html
;
; Note: shell expansion ("~" or "$HOME") is not supported.  Environment
; variables can be expanded using this syntax: "%(ENV_HOME)s".

[unix_http_server]
file={{ supervisor_socket_path }}   ; (the path to the socket file)
chown={{ tianxun_user }}:{{ tianxun_group }} ; socket file uid:gid owner

[supervisord]
logfile={{ supervisor_logs }}/{{ supervisor_log_name }} ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
pidfile={{ supervisor_pid_path }} ; (supervisord pidfile;default supervisord.pid)
nodaemon=false               ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)
user={{ tianxun_user }}   ; (default is current user, required if root)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_socket_path }} ; use a unix:// URL  for a unix socket
history_file={{ tianxun_supervisor_dir }}/.sc_history  ; use readline history if available

{% if supervisor_enable_web_interface %}
[inet_http_server]         ; inet (TCP) server disabled by default
{% if 'ec2' in group_names %}
port=127.0.0.1:9001        ; (ip_address:port specifier, *:port for all iface)
{% else %}
port=*:9001        ; (ip_address:port specifier, *:port for all iface)
{% endif %}
;username=user              ; (default is no username (open server))
;password=123               ; (default is no password (open server))
{% endif %}


; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.

[include]
files = appconfigs/*.conf
